# Ambientes Virtuais
venv/
.venv/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de Configuração de IDEs
.vscode/
.idea/
fastapi/.idea
fastapi/.env
fastapi/__pycache__/
fastapi/.pytest\_cache/
fastapi/.venv/

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db

# Variaveis de ambiente e segredos
.env

.idea